*.pyc
*~
.vs
.vscode
.eggs
build
dist
trios.egg-info
docs/_build
test/images
cython_debug
site/cache
site/output
trios/*.c
trios/feature_extractors/*.c
trios/classifiers/*.c

docs/examples/jung-images
docs/examples/*gz
docs/examples/imageset-text.txt