*.pyc
*~
.vs
.vscode
.eggs
build
dist
trios.egg-info
docs/_build
test/images
cython_debug
site/cache
site/output
trios/*.c
trios/feature_extractors/*.c
trios/classifiers/*.c
trios/contrib/features/*.c
trios/window_determination/*.c
docs/examples/jung-images
docs/examples/*gz
docs/examples/imageset-text.txt
docs/examples/jung-result
